/* Загальні властивості */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

address {
  font-style: normal;
}
/* Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list .nav-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
}
.header-contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  margin-left: auto;
}

/* Основні стилі для посилань у навігації */
.nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42; /* базовий колір тексту */
  text-decoration: none;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  color: #434455; /* базовий колір тексту */
  text-decoration: none;
}

/* Стан при наведенні мишкою (hover) */
.nav-link:hover,
.contacts-link:hover {
  color: #404bbf; /* змінюється колір тексту при ховері */
}

/* Стан при фокусі (focus) */
.nav-link:focus,
.contacts-link:focus {
  color: #404bbf; /* змінюється колір тексту при фокусі */
}

/* Стан при активному натисканні (active) */
.nav-link:active {
  text-decoration: underline;
  color: #404bbf; /* колір тексту при активному стані */
}

/* Section 1 Hero */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.interactive-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  text-align: center;
  outline: none;
  background-color: #4d5ae5;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  flex-direction: row;
  border-radius: 4px;
  border: none;
}

/* Стан при наведенні мишкою */
.interactive-button:hover {
  background-color: #404bbf;
}

/* Стан при фокусі (focus) */
.interactive-button:focus {
  background-color: #404bbf; /* змінюється колір фону при фокусі */
}

/* Section 2 Benefits */
.benefits {
  background-color: #ffffff;
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.benefits-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

/* Section 3 Our Team */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-list .team-name {
  border-bottom: 1px solid var(#e7e9fc);
  border-left: 1px solid var(#e7e9fc);
  border-right: 1px solid var(#e7e9fc);
  padding: 32px 0;
}

/* Section 4 Our Portfolio */
.portfolio {
  background-color: #ffffff;
  padding: 120px 0;
}

.portfolio-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list {
  width: calc((100% - 48px) / 3);
}

.portfolio-group .card-portfolio {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #ffffff;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}
